DATOCMS_READONLY_API_TOKEN="<Read-only API token>"
DATOCMS_API_TOKEN="<Full-access API token>"
CLOUDINARY_ENV="<Cloudinary environment name>"

PUBLIC_GOOGLE_MAPS_STATIC_API_KEY="<Google Maps Static API key>"
