$background: #ffffff;
$light: #e2edef;
$grey: #899ca0;
$primary: #003541;
$primary-dark: #07161a;
$primary-light: #73d6ed;
$secondary: #ab4e1e;
$secondary-dark: #88411d;
$secondary-light: #ffc19a;
$positive: #00aa76;
$negative: #ef1f2b;
