---
import classNames from 'clsx';
import { slugFormatter } from '@lib/routing/slugFormatter';
import Link from '@components/Link/Link.astro';

import styles from './styles.module.scss';

interface Props {
  slug?: string | null;
  label?: string | null;
}

const { slug, label } = Astro.props;
---

{
  !slug || !label ? null : (
    <li class={classNames(styles.navItem)}>
      <Link
        class={classNames(styles.link, 'text-large')}
        href={slugFormatter({ slug })}
      >
        {label}
      </Link>
    </li>
  )
}
