@use 'sass:map';
@use '../../styles/tokens/breakpoints.scss' as breakpoints;
@use '../../styles/tokens/spacing.scss' as spacing;

.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: map.get(spacing.$rem, 16);

  @media screen and (min-width: breakpoints.$md) {
    gap: map.get(spacing.$rem, 48);
    grid-template-columns: 1fr 1fr;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
