@use 'sass:map';
@use '../../styles/tokens/breakpoints.scss' as breakpoints;
@use '../../styles/tokens/spacing.scss' as spacing;
@use '../../styles/tokens/layout.scss' as layout;

.defaultSpacing {
  padding-top: map.get(spacing.$rem, layout.$default-mobile-spacing);
  padding-bottom: map.get(spacing.$rem, layout.$default-mobile-spacing);

  @media screen and (min-width: breakpoints.$sm) {
    padding-top: map.get(spacing.$rem, layout.$default-desktop-spacing);
    padding-bottom: map.get(spacing.$rem, layout.$default-desktop-spacing);
  }
}

.defaultSpacing + .defaultSpacing {
  padding-top: 0;
}

.headerSpacing {
  margin-top: map.get(spacing.$rem, layout.$default-mobile-spacing);
  margin-bottom: map.get(spacing.$rem, layout.$default-mobile-spacing);

  @media screen and (min-width: breakpoints.$sm) {
    margin-top: map.get(spacing.$rem, layout.$default-desktop-spacing);
    margin-bottom: map.get(spacing.$rem, layout.$default-desktop-spacing);
  }
}

.headerSpacing + .headerSpacing,
.header + .headerSpacing {
  margin-top: map.get(spacing.$rem, 64);

  @media screen and (min-width: breakpoints.$sm) {
    margin-top: map.get(spacing.$rem, 128);
  }
}

.headerSpacing + * {
  padding-top: 0;
}

* + .headerSpacing {
  margin-top: 0;
}
