@use 'sass:map';
@use '../../styles/tokens/colors.scss' as colors;
@use '../../styles/tokens/spacing.scss' as spacing;
@use '../../styles/tokens/breakpoints.scss' as breakpoints;
@use '../../styles/tokens/radius.scss' as radius;
@use '../../styles/tokens/typography.scss' as typography;
@use '../../styles/tokens/layout.scss' as layout;

.root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: map.get(spacing.$rem, 16);
  padding: map.get(spacing.$rem, 24);
  background-color: colors.$light;
  border-radius: radius.$lg;
  max-width: layout.$max-content-width;
  align-items: center;

  @media screen and (min-width: breakpoints.$sm) {
    flex-direction: row;
  }
}

.title {
  font-family: typography.$dm-serif;
}

.download {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: map.get(spacing.$rem, 8);
  flex-shrink: 0;
}
