---
import Navigation from './Navigation/Navigation.astro';
import Footer from './Footer/Footer.astro';
import '@styles/global.scss';
---

<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CREA Orkest</title>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
