@use 'sass:map';
@use '../tokens/colors.scss' as colors;
@use '../tokens/typography.scss' as typography;
@use '../tokens/spacing.scss' as spacing;

@mixin link {
  display: block;
  color: colors.$primary-dark;
  font-family: typography.$dm-serif;
  padding-top: map.get(spacing.$rem, 8);
  padding-bottom: map.get(spacing.$rem, 8);

  &:hover,
  &:focus {
    text-decoration: none;
    color: colors.$secondary;
  }
}
